<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>Wechat Login</title>
    <link href="login.css" rel="stylesheet"/>
</head>
<body>
<div class="mainFrame" id="mainFrame">
    <div class="loginPart">
        <div class="loginMainFrame">
            <img class="iconPart" src="../../images/icon.png">
            <form class="loginForm">
                <div class="accountPart">
                    <a style="text-align: left;">账号</a>
                    <input class="accountInput" style="border: 1px solid lightgrey; width: 312px; height: 17px; padding: 12px; border-radius: 5px;" type="text" v-model="account"/>
                </div>
                <div class="passwordPart">
                    <a style="text-align: left; margin-bottom: 5px;">密码</a>
                    <input class="passwordInput" style="border: 1px solid lightgray; width: 312px; height: 17px; padding: 12px; border-radius: 5px;" type="password" v-model="password"/>
                </div>
            </form>
            <input class="loginBtn" @click="loginSubmit()" style="border: none;" type="button" value="登录"/>
        </div>
    </div>
    <div class="toastPart" v-show="toastMsg">
        <div id="toastMsg" v-text="toastText"></div>
    </div>
</div>
<script src="../static/utils/common.js"></script>
<script src="../static/utils/vue.js"></script>
<script src="../static/js/login.js"></script>
</body>
</html>