<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zerosherd.project.DataManager.dao.RoleMapper">
    <select id="getAllRole" resultType="role">
        select * from role
    </select>

    <select id="queryRoleByID" resultType="role">
        select * from role where roleId = #{id}
    </select>

</mapper>
